<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer-Dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Accordion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive-index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_projet.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdpo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inscription.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_co.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/groupes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/connecter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tableau_resultat.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="icon" type="image/png" sizes="30x30" href="{{ url_for('static', filename='images/logo_projet.png') }}">

    {% block head %}
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top">
        <div class="container-fluid">
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <a href="{{ url_for('home') }}"><img class="img-fluid" width="70" height="70"
                 src="{{ url_for('static', filename='images/logo_projet.png') }}" alt="photo"></a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav flex-grow-1 justify-content-center">
                    <div class="drop1 dropdown">
                        <button class="btn btn-secondary dropdown-toggle"
                                type="button" id="dropdownMenu1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Groupes et Capteurs
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <a class="dropdown-item text-black" href="{{ url_for('page_groupes')}}">Gérer groupes</a>
                          <a class="dropdown-item text-black" href="#">Ajouter Capteur</a>
                          <a class="dropdown-item text-black" href="#">Créer Groupe</a>
                        </div>
                      </div>
                      <div class="drop1 dropdown">
                        <button class="btn btn-secondary dropdown-toggle"
                                type="button" id="dropdownMenu1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Outils d'analyse
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <a class="dropdown-item text-black" href="{{ url_for('page_analyse_comparateur') }}">Comparateur</a>
                        </div>
                      </div>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('page_faq') }}">FAQ</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                
                {% if current_user.is_authenticated %}
                    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{{ url_for('page_profil') }}">{{ current_user.pseudo_utilisateur }}</a>
                    <a class="btn btn-primary bg-dark border-light" type="button"
                       href="{{ url_for('logout') }}"><i class="far fa-user"></i>  Se déconnecter
                    </a>
                {% else %}
                    <a class="btn btn-primary bg-dark border-light" type="button"
                       href="{{ url_for('page_connexion') }}"><i class="far fa-user"></i>  Se connecter
                    </a>
                {% endif %}

            </div>
        </div>
    </nav>
</header>
<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</main>
<footer class="text-light bg-dark footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Nos services</h3>
                <ul>
                    <li><a href="#">Nos abonnements</a></li>
                    <li><a href="#">Nos projets</a></li>
                    <li><a href="#">Notre hébergeur</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>À propos</h3>
                <ul>
                    <li><a href="#">Contactez-nous</a></li>
                    <li><a href="#">Notre équipe</a></li>
                    <li><a href="#">Gitlab</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>Bio-Capteurs</h3>
                <p style="width: 100%;">Projet "Bio-Capteurs" réalisé par 8 étudiants : Aurélien BOURGERIE, Corentin
                    DEFIOLLES, Dorian LABASSE, Julien CHAPUIS, Léonard DELETRE, Mattéo COUTURIER et Xavier BRUN.</p>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                    class="icon ion-social-twitter"></i></a></div>
        </div>
        <p class="copyright">Bio-Capteurs © 2021</p>
        
    </div>
</footer>




</body>
</html>
