{% extends "base.html" %}

{% block content %}
    <form method="POST" action="{{ url_for("page_groupe_creation") }}">
        {{ form.hidden_tag() }}
        <section class="creation-groupe-section">
            <h2 id="title-creation-groupe">Création d'un groupe</h2>
            <div class="effect-groupe-creation">
                {{ form.nom(type="text",size=50, class_="effet-input focus-border", placeholder="Nom du groupe") }}
                <span class="focus-border">
                            <i></i>
                </span>
            </div>
            <div class="checkbox-groupe">
                {{ form.est_public.label(class="form-control-label") }}
                {{ form.est_public(class="checkbox") }}
                <label for="est_public" class="stylised-groupe noselect"></label>
                <button class="btn btn-success">Créer le groupe</button>
            </div>
        </section>
    </form>
{% endblock %}
