{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/popup.css') }}">
    <div class="content-section-groupes d-flex flex-row">
        <ul class="ulrow d-flex flex-column">
            <a type="button" class="btn btn-success" href="{{ url_for('page_groupe_creation') }}">
                Créer un groupe
            </a>

            {% for groupe in groupes %}
                <li class="ligroupe">
                    <button class="btn btn-success" onclick="actualiser_groupe_frame({{ groupe.id_groupe }})">
                        {{ groupe.nom_groupe }}
                    </button>
                    <a href="{{ url_for('page_groupe_roles',id_groupe = groupe.id_groupe) }}"
                       class="btn btn-outline-info">Gérer rôles</a>

                </li>
                <button class="login-trigger btn btn-success" href="#" data-target="#{{groupe.nom_groupe}}" data-toggle="modal">Ajouter membre</button>

                <div id="{{groupe.nom_groupe}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-body">
                                <button data-dismiss="modal" class="close">&times;</button>

                                <h4>Ajout d'un chercheur</h4>
                                <form method="POST">
                                    {{ form_invit.hidden_tag() }}
                                    {{ form_invit.id(class_="tohide" ,value=groupe.id_groupe) }}
                                    {{ form_invit.pseudo(type="text", class_="form-control" ,placeholder="Pseudo") }}
                                    {{ form_invit.submit(class_="btn login",value="Envoyer une invitation") }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
    <script type="text/javascript" >
        function showPopup() {
            $("#iframe_groupe").dialog();
        }
    </script>
    {% if id_groupe_pre_selectione!=None %}
        <iframe id="iframe_groupe" class="iframe_groupe"
                src="{{ url_for("page_groupe", id=id_groupe_pre_selectione) }}" width="50%"
                height="60%">
        </iframe>
    {% endif %}


    <iframe id="iframe_map" class="map_groupes"
            src="{{ url_for("page_map_capteur", pseudo_utilisateur=current_user.get_id()) }}?" width="35%"
            height="60%">
    </iframe>
    <div class="input-group-groupes">
        <div class="input-group-prepend">
            <div class="input-group-text d-flex flex-column">
                <h3>Options de tri</h3>
                <form method="POST" action="{{ url_for("page_analyse_comparateur") }}">
                    {{ form_comparer.csrf_token }}
                    <ul>
                        {% for groupe, capteurs in dico_groupe_capteurs.items() %}
                            {% if capteurs|length >= 1 %}
                            <div class="d-flex flex-row">
                                <p>{{ groupe.nom_groupe }}</p>
                            </div>
                            {% endif %}
                            <ul>
                                {% for capteur in capteurs %}
                                    <li class="d-flex flex-row">
                                        {% if capteur.coche %}
                                            <input type="checkbox"
                                                   onclick="actualiser_map('{{ capteur.id_capteur }}')"
                                                   id={{ capteur.id_capteur }} name="checklist_capteur"
                                                   value={{ capteur.id_capteur }} checked>
                                        {% else %}
                                            <input type="checkbox"
                                                   onclick="actualiser_map('{{ capteur.id_capteur }}')"
                                                   id={{ capteur.id_capteur }} name="checklist_capteur"
                                                   value={{ capteur.id_capteur }}>
                                        {% endif %}
                                        <p>{{ capteur.nom_capteur }}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </ul>
                    {{ form_comparer.submit(class="btn btn-success") }}
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/groupes_frame.js') }}">
    </script>
{% endblock %}