<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{ groupe.nom_groupe }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/connecter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/groupes.css') }}">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="tGroupe text-capitalize nom-groupe-iframe">{{ groupe.nom_groupe }}</h1>
    <script type="javascript/text">
        $(function() {
            $("#test2").click(function() {
                parent.showPopup();
            });
        });
    </script>

    <h1 class="tGroupe text-capitalize">{{ groupe.nom_groupe }}</h1>
    <div class="capteurs_groupe">
        <h2 class="titreGroupe">Capteurs :</h2>
        <a type="button" class="btn btn-outline-success" href="{{ url_for('page_groupe_capteur_ajout') }}">Ajouter capteur</a>
        <ul class="d-flex flex-row justify-content-around">
            {% for capteur in capteurs_groupe %}
            <li>
                <h3>{{ capteur.nom_capteur }}</h3>
                <h4>{{ capteur.date_installation_capteur }}</h4>
                <form method="POST" action="{{ url_for("page_retirer_capteur_groupe", id_groupe=groupe.id_groupe, id_capteur=capteur.id_capteur) }}">
                    {{ form_retirer_capteur_groupe.hidden_tag() }}
                    <button class="btn-croix-groupe btn-light" type="submit">
                        <img src="{{ url_for('static', filename='images/croix.png') }}" width="45px" height="45px" alt="croix">
                    </button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="membres_groupe">
        <h2 class="titreGroupe">Membres :</h2>
        <ul class="d-flex flex-row justify-content-around">
            {% for membre,roles in dico_membres_roles_groupe.items() %}
            <li>
                <a id="test2" href="#" data-target="#test" data-toggle="modal"><h3>{{ membre.prenom_utilisateur }} {{ membre.nom_utilisateur }}</h3></a>
                <h4 class="noir">mail : {{ membre.mail_utilisateur }}</h4>
                <h4 class="noir" >Rôle :</h4>
                {% for role in roles %}
                {% if role.nom_role!='Défaut' %}
                    <h3>{{ role.nom_role }}</h3>
                {% endif %}
                {% endfor %}
                {% if est_admin %}
                    <form method="POST" action="{{ url_for("page_groupe_membres_supprimer", pseudo_utilisateur=membre.pseudo_utilisateur, id_groupe=groupe.id_groupe) }}">
                        {{ form_supprimer_membre.hidden_tag() }}
                        <div class="form-group">
                            {{ form_supprimer_membre.submit(class="btsupprmembre btn btn-danger") }}
                        </div>
                    </form>
                {% endif %}
               
                <div id="test" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content ">
                            <div class="modal-body">
                                <form method="POST">
                                <button data-dismiss="modal" class="close">&times;</button>
                                <h4>Modification du role de {{membre.pseudo_utilisateur}}r</h4>
                                {{form_changer_role.hidden_tag()}}
                                {{form_changer_role.pseudo(class_="tohide" , value=membre.pseudo_utilisateur)}}
                                {{form_changer_role.id_groupe(class_="tohide" , value=groupe.id_groupe)}}
                                {{form_changer_role.listerole}}
                                {{form_changer_role.submit(class_="btn login" , value="Valider")}}
                                
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
