{% extends "base.html" %}

{% block content %}
    <div class="content-section d-flex flex-column justify-content-center">
        <form method="POST" action="{{ url_for("page_inscription") }}">
            <hr class=ligneGaucheInscription>
            <h1 class="inscription text-center">Inscription</h1>
            <div class="form-group">
                {{ form.hidden_tag() }}
            </div>
            <fieldset class="form-group-id">
                <div class="form-group-pseudo">
                    {% if form.pseudo.errors %}
                        {{ form.pseudo(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pseudo.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.pseudo(class="form-control form-control-lg", placeholder="Pseudo") }}
                    {% endif %}
                </div>
                <div class="form-group-prenom">
                    {% if form.prenom.errors %}
                        {{ form.prenom(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.prenom.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.prenom(class="form-control form-control-lg", placeholder="Prenom") }}
                    {% endif %}
                </div>
                <div class="form-group-nom">
                    {% if form.nom.errors %}
                        {{ form.nom(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nom.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nom(class="form-control form-control-lg", placeholder="Nom") }}
                    {% endif %}
                </div>
                <div class="form-group-email">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                    {% endif %}
                </div>
                <div class="form-group-mdpI">
                    {% if form.mot_de_passe.errors %}
                        {{ form.mot_de_passe(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.mot_de_passe.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.mot_de_passe(class="form-control form-control-lg", placeholder="Mot de passe" )}}
                    {% endif %}
                </div>
                <div class="form-group-CmdpI">
                    {% if form.confirm_mot_de_passe.errors %}
                        {{ form.confirm_mot_de_passe(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_mot_de_passe.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_mot_de_passe(class="form-control form-control-lg", placeholder="Confirmez votre mot de passe") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="btnsinscrire">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Vous avez déjà un compte ? <a class="ml-2" href="{{ url_for('page_connexion') }}">Connectez-vous</a>
        </small>
    </div>
    <hr class="ligneDroiteInscription">
{% endblock %}
