
/* page d'accueil connecté */
h1.Bienvenue{
    width:70%;
    margin-top: 3%;
    font-weight: bold;
    color: #000000;
    }
    
    
    div.divgroup{
      position : absolute;
      margin-top:15%;
      left:25%;
      height:80%;
      width:80%
    }
    div.input-group-prepend{
      position : absolute;
      margin-top:15%;
      border: 0.5px solid #012B05;
      left: 60%;
    
    }
    div.input-group-text{
      background-color: #FFFFFF;
    }
    h6{
      font-size:135%
    }

    div.burger-nav{
      position:fixed;
      margin-top:1.5%;
      z-index:9999;
      background: #012B05;
    }

    
    li.lisanspuce{
      list-style: none;
      font-style : italic;
      line-height: 35px;
      
      
    }
    input[type=checkbox] {
        margin: 1px 7px 1px 1px;
    }
    .traitaccueil{
      position: absolute;
      width: 65%;
      height: 0%;
      left: 25%;
      margin-top: 8.5%;
      
      border: 0.740669px solid #012B05;
    }
    
    @media (max-width:1500px) {
      
        
        div.divgroup{
          position : absolute;
          margin-top:20%;
          left:25%;
          height:80%;
          width:80%
        }
        div.input-group-prepend{
          left: 73.5%;
        
        }
        h6{
          font-size:125%
        }
        div.burger-nav{
          margin-top:2.3%;
        }
        .traitaccueil{
            margin-top: 12%;
        }
        h1.Bienvenue{
            margin-left: 2%;
            margin-top: 6%;
            }
        div.content-section-x{
            width: 100%;
            height: 150vh;
              }
    }